{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "standard"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": "off",
    "semi": ["error", "always"],
    "space-before-function-paren": "off",
    "indent": ["error", 4],
    "prefer-const": "off",
    "array-callback-return":"off",
    "arrow-spacing":"off",
    "comma-spacing":"off"
   }
}
